---
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { Card, CardHeader } from "@/components/ui/card";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ChevronsRight, Rss } from "lucide-react";
import Config from "../../astro.config.mjs";

const posts = await Astro.glob("./posts/**/*mdx");
posts.sort((a, b) => Number(new Date(b.frontmatter.pubDate)) - Number(new Date(a.frontmatter.pubDate)));

const site = Config.site;
---

<BaseLayout title="Blog">
    <div class="p-8 sm:p-16">
        <div class="flex flex-wrap justify-between gap-4">
            <h1 class="scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl">Blog</h1>
            <Button variant="outline" id="rss-button" client:load>
                <span class="mr-2">
                    <Rss size="1rem" />
                </span> Copy RSS link
            </Button>
        </div>
        <div class="mt-10 flex flex-col gap-8">
            {
                posts.map((post) => (
                    <div class="w-full">
                        <div class="flex justify-between overflow-hidden items-baseline gap-8">
                            <div>
                                <a
                                    href={post.url}
                                    class="scroll-m-20 text-lg sm:text-xl font-semibold tracking-tight first:mt-0 hover:underline leading-none"
                                >
                                    {post.frontmatter.title}
                                </a>
                                <div class="max-sm:hidden">
                                    <p class="leading-7 font-mono text-muted-foreground mt-2 text-sm sm:text-base">
                                        {post.frontmatter.description}
                                    </p>
                                    <div class="flex flex-wrap gap-2 mt-4">
                                        {post.frontmatter.tags.map((tag) => (
                                            <Badge>{tag}</Badge>
                                        ))}
                                    </div>
                                </div>
                            </div>
                            <p class="sm:text-lg">
                                {new Date(post.frontmatter.pubDate).toLocaleDateString("en-US", {
                                    year: "numeric",
                                    month: "2-digit",
                                    day: "2-digit",
                                })}
                            </p>
                        </div>
                        <div class="sm:hidden">
                            <p class="leading-7 font-mono text-muted-foreground mt-2 text-sm sm:text-base">
                                {post.frontmatter.description}
                            </p>
                            <div class="flex flex-wrap gap-2 mt-4">
                                {post.frontmatter.tags.map((tag) => (
                                    <Badge>{tag}</Badge>
                                ))}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <p class="leading-7 mt-6 font-mono">
            Didn't find what you were looking for?{" "} Make sure to reach out to me through <a
                href="mailto:ocskon@gmail.com"
                class="underline">email</a
            > with any questions or ideas!
        </p>
    </div>
</BaseLayout>

<script define:vars={{ site }}>
    const rssButton = document.getElementById("rss-button");
    rssButton.addEventListener("click", () => {
        navigator.clipboard.writeText(`${site}/feed.xml`);
        const perviousText = rssButton.innerHTML;
        rssButton.innerHTML = "Copied!";
        setTimeout(() => {
            rssButton.innerHTML = perviousText;
        }, 2000);
    });
</script>
